/* Tags */

body
{
  font-family: Segoe UI, Trebuchet MS, Helvetica, Arial;
  font-size: 14px;
  background: url(/images/chruch.png);
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 140%;
}

h2 {
  font-size: 125%;
  margin: 16px 0 8px;
}

h3 {
  font-size: 115%;
}

h4 {
  font-size: 110%;
}

em {
  font-weight: bold;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration:  underline;
}

/* Global Classes */

.limit {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.block {
  margin: 0 0 40px;
  padding: 10px;
  background: #fff;
  border: 1px solid;
  border-color: #d0d0d0 #cacaca #b9b9b9;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

  .block > x-ribbon {
    font-size: 110%;
    font-weight: bold;
    font-style: italic;
    margin: 0 0 20px -20px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
    background: -webkit-linear-gradient(top, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url(/images/chruch.png);
    background: -moz-linear-gradient(top, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url(/images/chruch.png);
    background: -ms-linear-gradient(top, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url(/images/chruch.png);
    background: -o-linear-gradient(top, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url(/images/chruch.png);
    background: linear-gradient(top, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url(/images/chruch.png);
  }

  .block > x-ribbon + * {
    clear: both;
  }
  .block > x-ribbon a{
      text-decoration: none;
      color: inherit;
  }

  .block > dl dt {
    position: relative;
    margin: 0 0 10px;
    overflow: hidden;
  }

  .block > dl dt:before {
    position: relative;
    display: inline-block;
    content: attr(text);
    padding: 4px 8px 5px;
    border-bottom: 4px solid rgba(0,0,0,0.5);
    font-weight: bold;
    z-index: 1;
  }

  .block > dl dt:after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #ccc;
  }

  .block p {
    margin: 10px 0;
  }

.tagline {
  margin-bottom: 35px;
  color: #bbb;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #666;
  opacity: 0.5;
}

.unlink a {
  color: #000;
  text-decoration: none;
}

/* Attribute */

#nav_logo {
    color: #F3F3F3;
    font-family: 'Righteous';
    font-size: 30px;
  line-height: 29px;
  text-align: center;
}

  #nav_logo div, #nav_logo span {
    display: inline-block;
  }

  #nav_logo div {
    position: relative;
    top: -3px;
    margin: 0 -5px;
    font-size: 33px;
  }

#global_nav x-slide  {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  text-shadow: 0 2px 1px rgba(0,0,0, 0.8);
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -ms-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

#global_nav x-slide:hover  {
  /*background-color: rgba(255,255,255, 0.25);*/
  cursor: pointer;
}

#global_nav x-slide[selected]  {
  border-bottom: 4px solid #6191CB;
  background-color: transparent;
  cursor: default;
  -webkit-transition: background-color 0.65s ease 0s;
  -moz-transition: background-color 0.65s ease 0s;
  -ms-transition: background-color 0.65s ease 0s;
  -o-transition: background-color 0.65s ease 0s;
  transition: background-color 0.65s ease 0s;
}

/*** HOME Panel ***/

#intro h2 {
  margin-bottom: 8px;
  text-align: center;
  font-size: 165%;
}

  #intro_graphic {
    position: relative;
    margin: 0 8% 30px;
  }

    #intro_logo {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 46px;
      margin-top: -23px;
      padding: 0%;
      font-size: 600%;
      line-height: 30px;
      text-align: center;
      font-family: 'Righteous';
    }

      #intro_logo div, #intro_logo span {
        position: relative;
        display: inline-block;
        height: 46px;
        line-height: 50px;
        opacity: 1;
      }

      #intro_logo div, #intro_logo span, .intro_details, #intro_browsers img {
        -webkit-transition: top 0.6s ease 0s, left 0.6s ease 0s, right 0.6s ease 0s, opacity 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
        -moz-transition: top 0.6s ease 0s, left 0.6s ease 0s, right 0.6s ease 0s, opacity 0.6s ease 0s, -moz-transform 0.6s ease 0s;
        -ms-transition: top 0.6s ease 0s, left 0.6s ease 0s, right 0.6s ease 0s, opacity 0.6s ease 0s, -ms-transform 0.6s ease 0s;
        -o-transition: top 0.6s ease 0s, left 0.6s ease 0s, right 0.6s ease 0s, opacity 0.6s ease 0s, -o-transform 0.6s ease 0s;
        transition: top 0.6s ease 0s, left 0.6s ease 0s, right 0.6s ease 0s, opacity 0.6s ease 0s, transform .6s ease 0s;
      }

      #intro_logo div {
        margin: 0 -15px;
      }

      #intro_logo div:before {
        position: relative;
        top: -10px;
        content: "x";
      }

      #intro_logo div.switch-logo-x:before {
        content: "+";
        vertical-align: middle;
      }

      #intro_logo span:first-child {
        left: 0%;
      }

      #intro_logo span:last-child {
        right: 0%;
      }

      #intro_graphic.animate-intro #intro_logo span:first-child {
        left: -50%;
        opacity: 0;
      }

      #intro_graphic.animate-intro #intro_logo span:last-child {
        right: -50%;
        opacity: 0;
      }

      #intro_graphic.animate-intro #intro_logo div {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        -o-transform: rotate(720deg);
        transform: rotate(720deg);
      }


    .intro_details {
      position: relative;
      display: inline-block;
      width: 50%;
      vertical-align: middle;
      opacity: 0;
    }

      #intro_graphic.fade-intro .intro_details {
        opacity: 1;
      }

      #intro_webcomponents {
        margin-left: -25px;
      }

        #intro_webcomponents > img {
          display: block;
          margin: 0 auto;
          width: 65%;
          max-width: 400px;
        }

      #intro_browsers {
        position: relative;
        right: -50px;
      }

        #intro_browsers img {
          display: block;
          margin: 0 auto;
          width: 80%;
          max-width: 400px;
        }

  #diagram {

  }

    #diagram section {
      display: table-cell;
      padding: 0 10px;
      width: 45%;
      vertical-align: top;
    }

    #diagram section > div {
        border-radius: 4px;
        background-color: #ddd;
        margin: 0 0 10px;
        padding: 10px;
    }

    #diagram section > div > div {
      display: table;
      width: 100%;
    }

    #diagram section div div span {
      display: table-cell;
      border: #888 1px dotted;
      text-align: center;
      border-radius: 8px;
      padding: 10px 0;
    }

    #diagram section div h3 {
      padding: 6px 0 13px;
      width: 100%;
      text-align: center;
    }

    #diagram section > p {
      margin: 0 0 10px;
    }
#code_options {
  display: table;
  width: 100%;
}

  #code_options > div {
    display: table-cell;
    width: 33.3%;
    text-align: center;
  }

    #download, #fork {
      margin: 10px;
    }

      #code_options a {
        display: block;
        padding: 16px 10px;
        margin: 10px;
        border: none;
        font-weight: bold;
        box-shadow: 0 -1px 1px 0px rgba(4,76,0, 0.5) inset;
        border-radius: 4px;
        cursor: pointer;
      }

      #code_options span {
        display: block;
        font-size: 70%;
        font-weight: normal;
        color: #555;
        line-height: 10px;
        text-align: center;
      }

      #code_options img {
        height: 32px;
      }

      .bluebox {
        box-shadow: 0 0 0 1px rgba(80, 137, 180, 0.4) inset;
        background: -webkit-linear-gradient(top, #E0EDFB, #C4D8EB);
        background: -moz-linear-gradient(top, #E0EDFB, #C4D8EB);
        background: -ms-linear-gradient(top, #E0EDFB, #C4D8EB);
        background: -o-linear-gradient(top, #E0EDFB, #C4D8EB);
        background: linear-gradient(top, #E0EDFB, #C4D8EB);
      }

        .bluebox:hover:active {
          box-shadow: 0 1px 2px 0px rgba(80, 137, 180, 0.8) inset;
          background: #E0EDFB;
        }

      .greenbox {
        box-shadow: 0 0 0 1px rgba(30, 102, 25, 0.4) inset;
        background: -webkit-linear-gradient(top, #A8DCA5, #84C881);
        background: -moz-linear-gradient(top, #A8DCA5, #84C881);
        background: -ms-linear-gradient(top, #A8DCA5, #84C881);
        background: -o-linear-gradient(top, #A8DCA5, #84C881);
        background: linear-gradient(top, #A8DCA5, #84C881);
      }

        .greenbox:hover:active {
          box-shadow: 0 1px 2px 0px rgba(4, 76, 0, 0.8) inset;
          background: #A8DCA5;
        }

      .peachbox {
        box-shadow: 0 0 0 1px rgba(140, 75, 0, 0.4) inset;
        background: -webkit-linear-gradient(top, #F0CD96, #DCB680);
        background: -moz-linear-gradient(top, #F0CD96, #DCB680);
        background: -ms-linear-gradient(top, #F0CD96, #DCB680);
        background: -o-linear-gradient(top, #F0CD96, #DCB680);
        background: linear-gradient(top, #F0CD96, #DCB680);
      }

        .peachbox:hover:active {
          box-shadow: 0 1px 2px 0px rgba(140, 75, 0, 0.8) inset;
          background: #F0CD96;
        }

#intro_demos dt button {
  float: right;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: transparent url(/images/eye.png) no-repeat center center;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

  #intro_demos dt button[title="markup"] {
    background-image: url(/images/brackets.png);
  }

  #intro_demos dt button:hover {
    opacity: 0.8;
  }

  #intro_demos dt button[selected] {
    opacity: 1.0 !important;
  }

#intro_demos dd {
  margin: 10px;
  overflow: hidden;
}

  #intro_demos dd:after {
    content: " ";
    display: block;
    clear: both;
  }

#intro_demos .demo-view > p, #intro_demos .demo-view > div {
  float: left;
  width: 50%;
}

#intro_demos .demo-element {
  margin: 0 0 10px 10px;
}

#intro_demos table.demo-element {
  margin: 0 auto;
}

#intro_demos .demo-markup {
  clear: both;
  display: none;
}

#intro_demos dd.markup .demo-view {
  display: none;
}

#intro_demos dd.markup .demo-markup {
  display: block;
}

#panel_demo_element {
  padding: 20px;
  background: #eee;
  border: 1px solid #aaa;
  cursor: pointer;
  transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
}

#panel_demo_element[src="elements/panel/demo/panel-content.html"][data-readystate="4"] {
  background-color: #58F48C;
}

#panel_demo_element[src="elements/panel/demo/panel-content2.html"][data-readystate="4"] {
  background-color: #CBDDEF;
}

#modal_demo_element {
  width: 90%;
  max-width: 350px;
  border-radius: 4px;
  background-color: white;
}

#modal_demo_element > div {
  padding: 4px 5px;
  -webkit-box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.5);
}

#modal_demo_element p {
  padding: 12px;
}

#map_demo_element {
  height: 200px;
  border: 1px solid #aaa;
}

#docs dd {
  margin: 0 0 32px;
}

#docs dd:last-child {
  margin: 0;
}

#docs h4 {
  margin: 0 0 8px;
}

#docs h4  code {
  font-size: 110%;
  background: #eee;
  padding: 2px 4px;
  margin: 0 8px 0 0;
  border: 1px solid #ccc;
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
  border-radius: 3px;
}

#docs h4 a{
    text-decoration: none;
    color: inherit;
}

#docs h4  span {
  color: #666;
  font-style: italic;
}

#docs dd {
  margin-top: 14px;
}

#browser_logos a {
  margin-top: 10px;
  display: inline-block;
  width: 131px;
  vertical-align: top;
  text-decoration: none;
  color: #222;
  text-align: center;
}

  #browser_logos a img{
    float: left;
  }

#

#about {

}

  #about img {
    display: inline-block;
  }

  #about ul {
    display: inline-block;
  }


#download {

}

  #packages .component label {
    display: block;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0.5em 0.5em 0.5em 0;
  }

  #packages .component {
    margin: 5px 0 5px 0;
    padding-left: 8px;
  }
    .component a {
      color: #000;
    }

  #packages .component:hover {
    background-color:  #ddd;
    border-radius:  3px;
  }

  #packages label input{
    float: right;
    margin-top: 2px;
  }

   #packages dt{
    text-transform: capitalize;
   }

  #packages .description{
    font-size: 0.8em;
    text-transform: none;
    padding-right: 40px;
  }

  #packages .component-type{
    margin: 6px 0;
    font-size: 16pt;
    padding: 2px 0 3px 2px;
    text-transform: capitalize;
    border-bottom: 4px solid #DDD;
  }

  #buildProgress{
    margin-top: 10px;
    margin-left: 10px;
  }

  #minified{
    margin-top: 8px;
  }

  #zip {
    padding: 7px;
    float: right;
  }

  #dl-count {
    margin: 0 2px;
  }

  .panel-footer {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    border-radius: 3px;
  }

    .btn-primary, .btn-success {
      color: #FFF;
      background-color: rgba(4, 76, 0, 0.5);
      border-color: rgba(10, 85, 0, 0.5);
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      white-space: nowrap;
      -moz-user-select: none;
    }

    .btn-success{
      background-color: #6191CB;
      border-color: #70a0d0;
    }
    .disabled {
      display:  none;
    }

  .panel-heading label {
    float: right;
  }

dd h4 {
  margin: 6px 0;
}
dd h4 code {
  margin-right: 10px;
  background-color: #F4F6F9;
  padding: 1px 6px;
  border-radius: 4px;
  border: solid 1px #fef;
}

/* MEDIA QUERIES */

@media all and (max-width: 450px) {
  #code_options > div, #diagram section {
    display: block;
    width: auto;
  }

  #intro h2 {
    font-size: 120%;
  }
  #packages .description{
    padding-right: 20px ;
  }

}
