{% extends "fragment.html" %}
{% block fragment %}
<div id="about" class="limit">
  <div class="block">
    <h1>X-Tag: Making Web Component Custom Elements available today</h1>
    
    <p>Web components is an emerging group of specifications under the banner of the W3 that provide
    developers with a serious, browser-integrated mechanism for creating reusable components for the web 
    platform. X-Tag is focused on making a foundational piece of the Web Component spec, Custom Elements,
    available to all recent browsers.</p>
    
    <p>X-Tag was developed at Mozilla by Daniel Buchner and Arron Schaar, working directly to help shape 
    and advance the W3 specs in partnership with various key individuals at Google (most notibly, Dimitri 
    Glazkov and Alex Komoroske).</p>
    
    <p>Mozilla is committed to making the web the most friendly platfrom for app developers. Using X-Tag,
    Mozilla is producing a supported set of custom elements that solve common pain points developers run 
    into when creating web apps. This set of custom elements contains structural, functional, and interface
    conponents that will radically speed up the development process and maintenance cycle for
    any based-web app.</p>
    
    <img src="/images/github-logo.png">
    <ul>
      <li><a href="https://github.com/x-tag/core/">Fork it on Github</a></li>
      <li><a href="https://github.com/x-tag/core/">File an issue</a></li>
      <li><a href="https://github.com/x-tag/core/">Create your own Custom Elements</a></li>
    </ul>
  </div>
</div>
{% endblock%}
