{% set page = 'index' %}
{% extends "layout.html" %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/elements/tabbox/tabbox.css"/>
{% endblock %}

{% block index %}

  {% include './templates/content/index.html'%}

{% endblock %}

{% block bodyEnd %}
  <x-modal id="modal_demo_element" overlay hidden hide>
    <div>
      <h3>Modal Demo</h3>
      <p>Hello, I'm an auto-magical modal, how do you do?</p>
      <footer>
        <button>Hide Modal</button>
      </footer>
    </div>
  </x-modal>
{% endblock %}

{% block scripts %}

<script type="text/javascript" src="/elements/tabbox/tabbox.js"></script>

<script type="text/javascript">
  xtag.addEvents(document, {
    'tap:delegate(#intro_demos dt button)': function(e){
      xtag.query(this.parentNode, 'button').forEach(function(el){
        el.removeAttribute('selected');
      });
      this.setAttribute('selected', null);
      this.parentNode.nextElementSibling.className = this.getAttribute('title');
    },
    'tap:delegate(#panel_demo_element)': function(e){
      if (!this.src){
        this.src = 'elements/panel/demo/panel-content.html';
      } else {
        this.src = 'elements/panel/demo/panel-content' + (this.src.indexOf('2') > -1 ? '.html' : '2.html');
      }
    },
    'tap:delegate(#modal_demo table button)': function(){
      if (this.className == '') {
        this.className = 'showing';
        this.innerHTML = 'Hide Modal';
        document.querySelector('#modal_demo_element').toggle();
      }
      else {
        this.className = '';
        this.innerHTML = 'Show Modal';
        document.querySelector('#modal_demo_element').toggle();
      }
    },
    'tap:delegate(#modal_demo_element button)': function(){
      var button = document.querySelector('#modal_demo table button');
      button.className = '';
      button.innerHTML = 'Show Modal';
      document.querySelector('#modal_demo_element').toggle();
    }
  });

</script>

{% endblock %}