<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />

    <title>X-Tag - Web Components Custom Element Polylib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="images/shortcut.png" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/flex.css"/>
    <link rel="stylesheet" type="text/css" href="/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css"/>

    <link rel="stylesheet" type="text/css" href="/elements/ribbon/ribbon.css"/>

    <link rel="stylesheet" type="text/css" href="/css/x-tag-components.css"/>

    {% block styles %}{% endblock %}

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous" />

    <script type="text/javascript" src="/js/x-tag-components.js"></script>

    <script type="text/javascript" src="/js/history.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

    <script type="text/javascript" src="/js/nunjucks-dev.js"></script>

    <script type="text/javascript" src="/elements/ribbon/ribbon.js"></script>


  </head>

<body>

  <header id="header">

    <div id="global_nav">
      <x-slidebox>
        <x-slides>

          <x-slide {% if page == "blog" %}selected{% endif %}>
            <a>Blog</a>
          </x-slide>


          <x-slide {% if page == "docs" %}selected{% endif %}>
            <a>Docs</a>
          </x-slide>

          <x-slide id="nav_logo" {% if page == "index" %}selected{% endif %}>
            <span>&lt;</span>
            <div>x</div>
            <span>&gt;</span>
          </x-slide>

          <x-slide {% if page == "about" %}selected{% endif %}>
            <a>About</a>
          </x-slide>

           <x-slide {% if page == "download" %}selected{% endif %}>
            <a>Download</a>
          </x-slide>


        </x-slides>
      </x-slidebox>
    </div>

  </header>

  <x-slidebox id="content_slidebox">
    <x-slides>

      <x-slide name="blog" {% if page == "blog" %}selected{% endif %}>
        <x-panel>
          {% block blog %}{% endblock %}
        </x-panel>
      </x-slide>


      <x-slide name="docs" {% if page == "docs" %}selected{% endif %}>
        <x-panel>
          {% block docs %}{% endblock %}
        </x-panel>
      </x-slide>

      <x-slide name="index" {% if page == "index" %}selected{% endif %}>
        <x-panel>
          {% block index %}{% endblock %}
        </x-panel>
      </x-slide>

      <x-slide name="about" {% if page == "about" %}selected{% endif %}>
        <x-panel>
          {% block about %}{% endblock %}
        </x-panel>
      </x-slide>

      <x-slide name="download" {% if page == "download" %}selected{% endif %}>
        <x-panel>
          {% block download %}{% endblock %}
        </x-panel>
      </x-slide>

    </x-slides>
  </x-slidebox>

{% block bodyEnd %}{% endblock %}





{% block scripts %}{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49453334-1', 'x-tags.org');
  ga('send', 'pageview');

</script>

</body>

</html>
